In [1]:
import pandas as pd

In [2]:
pd.set_option('display.max_columns', None)  # or 1000
pd.set_option('display.max_rows', None)  # or 1000
pd.set_option('display.max_colwidth', None)

In [9]:
xls = pd.ExcelFile('/Users/s_pasiukevich/Library/Containers/com.microsoft.Excel/Data/Downloads/Fin_Report 2017_v_17_11_17.xlsx')

In [10]:
sheet_names = xls.sheet_names
sheet_names

['2017',
 'Сводная',
 'каталог',
 'HRMS12',
 'HRMS11',
 'HRMS 10',
 'HRMS 09',
 'HRMS 08',
 'HRMS 07',
 'HRMS 06',
 'HRMS 05',
 'HRMS 03-04',
 'Sheet1',
 'HRMS']

In [11]:
df = pd.read_excel(xls, "Сводная")
df.head(10)

,Office,(All),Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,Period,(All),NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Row Labels,Sum of Number of Attendee,Average of WGU,Average of Trainer Feedback,Average of General,Sum of LearnHour,Sum of Duration
3,Books/ Subscriptions,1,NaN,NaN,NaN,0,0
4,External Training,701,4.690698,4.406667,4.426042,19252,3227.5
5,Facilitation,179,4.433333,4.583333,4.25,1253,109
6,Leading by HEART,724,4.851,4.689623,4.566852,7040,738
7,Meal,NaN,NaN,NaN,NaN,NaN,NaN
8,Open Events,91,NaN,NaN,NaN,7,7
9,Other,0,NaN,NaN,NaN,NaN,NaN

In [14]:
# read all sheets and extract first 5 rows, 3 columns
for tab in sheet_names:
    print('#  ' + tab + '   #')
    df = pd.read_excel(xls, tab)
    print(df.iloc[:2, :3])

#  2017   #

/Users/s_pasiukevich/PycharmProjects/pythonProject4/venv/lib/python3.11/site-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

  Column1   Period       Beginning Date
0      Q1  January  2017-01-12 00:00:00
1      Q1  January  2017-01-12 00:00:00
#  Сводная   #
   Office  (All) Unnamed: 2
0  Period  (All)        NaN
1     NaN    NaN        NaN
#  каталог   #
   Unnamed: 0  Unnamed: 1        Type of event
0         NaN         NaN     Leading by HEART
1         NaN         NaN  Management Bootcamp
#  HRMS12   #
  Exported to Excel on 19 December 2017 (W. Europe Standard Time +01:00)  \
0                                                                    NaN
1                                                           Display Name

  Unnamed: 1     Unnamed: 2
0        NaN            NaN
1     Office  Full org path
#  HRMS11   #
  Exported to Excel on 20 November 2017 (W. Europe Standard Time +01:00)  \
0                                                                    NaN
1                                                           Display Name

  Unnamed: 1     Unnamed: 2
0        NaN            NaN
1     Office  Full org path
#  HRMS 10   #
  Exported to Excel on 24 October 2017 (W. Europe Daylight Time +02:00)  \
0                                                                   NaN
1                                                          Display Name

  Unnamed: 1 Unnamed: 2
0        NaN        NaN
1     Office     Level2
#  HRMS 09   #
    Display Name          Office              Level2
0  Markus Schill  Nicosia Office   Global Publishing
1  Andrey Antsut     Kiev Office  Global Development
#  HRMS 08   #
            Display Name        Office              Level2
0        Darya Ignatyeva  Minsk Office  Global Development
1  Aleksandr Chernoguzov  Minsk Office              Mobile
#  HRMS 07   #
     Display Name        Office         Level2
0  Elena Lebedeva  Minsk Office  CFO Functions
1    Elena Lefter  Minsk Office  CFO Functions
#  HRMS 06   #
     Display Name        Office             Level2
0  Nikolay Kozlov  Minsk Office  Global Publishing
1     Denis Lobko  Minsk Office  Global Publishing
#  HRMS 05   #
         Display Name          Office   Level2
0    Andrei Yarantsau  Nicosia Office  Melsoft
1  Alexander Shilyaev  Nicosia Office  Melsoft
#  HRMS 03-04   #
  Exported to Excel on 22 March 2017 (W. Europe Standard Time +01:00)  \
0                                                                 NaN
1                                                        Display Name

  Unnamed: 1 Unnamed: 2
0        NaN        NaN
1     Office     Level2
#  Sheet1   #
            Column1 First Name Last Name
0  Anastasia Kuryan  Anastasia    Kuryan
1   Sergey Yatsenko     Sergey  Yatsenko
#  HRMS   #
     Display Name        Office             Level2
0  Nikolay Kozlov  Minsk Office  Global Publishing
1     Denis Lobko  Minsk Office  Global Publishing

In [19]:
df = pd.read_excel(xls, "HRMS 10")
df.head(12)

,Exported to Excel on 24 October 2017 (W. Europe Daylight Time +02:00),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Display Name,Office,Level2,Level3,Level4,Level5,Cost Center Code,HR Business Partner,Direct Manager ID,Direct Manager Name
2,Ekaterina Dyachenko,Minsk Office,Global Publishing,Player Relations,Global Player Experience,Localization & Documentation,WG 107002MN30,Maria Kuchuk,16322,Evgeniy Goriavin
3,Aleksey Klyuchikov,Kiev Office,Global Development,World of Tanks,"World of Tanks, Kiev",Team 01,WG 400004PS74,Natalia Zaharenko,17819,Nikolay Muravsky
4,Guido Eickmeyer,Nicosia Office,Global Publishing,Publishing General Management,Consoles Publishing,NaN,WG 100102GP64,Valentinos Polykarpou,15639,Marianna Pantelidou
5,Bogdan Shmorgun,Kiev Office,CFO Functions,Kiev Administrative Services,IT,NaN,WG 400001PS37,Ekaterina Kovaleva,10625,Sergei Shumygora
6,Darya Poshtarenko,Kiev Office,Global Development,Development Operations,Global Art,Central Art,WG 400004PS08,Irina Kharatsidi,10563,Olga Krukova
7,Denis Gritsfeldt,Kiev Office,Global Development,World of Warplanes,Product Vision,UI/UX,WG 400004PS80,Marina Lisitsa,10596,Roman Nesin
8,Denis Kozhuschenko,Kiev Office,Global Development,World of Warplanes,Continuous Integration,NaN,WG 400004PS82,Marina Lisitsa,10024,Aleksandr Kasianenko
9,Andrei Klimenko,Kiev Office,Global Development,Development Operations,Global Art,Central Art,WG 400004PS08,Irina Kharatsidi,10041,Aleksandr Markelov
10,Andrei Kosarev,Kiev Office,Global Development,World of Warplanes,Product Vision,FX Art,WG 400004PS80,Marina Lisitsa,10726,Valentin Minitskiy
11,Andrei Lazarev,Kiev Office,Global Development,World of Warplanes,Product Vision,Maps,WG 400004PS80,Marina Lisitsa,10596,Roman Nesin

In [18]:
for tab in sheet_names:
    print('#  ' + tab + '   #')
    df = pd.read_excel(xls, tab)
    try:
        agg = df[df['Unnamed: 7'] == 'Maria Kuchuk']
        print(agg[['Unnamed: 7']])
    except KeyError:
        print(' no tab HRMS 10')

#  2017   #

/Users/s_pasiukevich/PycharmProjects/pythonProject4/venv/lib/python3.11/site-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

 no tab HRMS 10
#  Сводная   #
 no tab HRMS 10
#  каталог   #
 no tab HRMS 10
#  HRMS12   #
        Unnamed: 7
2     Maria Kuchuk
819   Maria Kuchuk
827   Maria Kuchuk
857   Maria Kuchuk
930   Maria Kuchuk
931   Maria Kuchuk
947   Maria Kuchuk
954   Maria Kuchuk
987   Maria Kuchuk
1075  Maria Kuchuk
1084  Maria Kuchuk
1103  Maria Kuchuk
1120  Maria Kuchuk
1139  Maria Kuchuk
1143  Maria Kuchuk
1177  Maria Kuchuk
1186  Maria Kuchuk
1189  Maria Kuchuk
1198  Maria Kuchuk
1214  Maria Kuchuk
1230  Maria Kuchuk
1247  Maria Kuchuk
1255  Maria Kuchuk
1273  Maria Kuchuk
1308  Maria Kuchuk
1400  Maria Kuchuk
1414  Maria Kuchuk
1416  Maria Kuchuk
1436  Maria Kuchuk
1440  Maria Kuchuk
1471  Maria Kuchuk
1484  Maria Kuchuk
1489  Maria Kuchuk
1498  Maria Kuchuk
1519  Maria Kuchuk
1558  Maria Kuchuk
1594  Maria Kuchuk
1603  Maria Kuchuk
1652  Maria Kuchuk
1657  Maria Kuchuk
1658  Maria Kuchuk
1722  Maria Kuchuk
1726  Maria Kuchuk
1736  Maria Kuchuk
1752  Maria Kuchuk
1757  Maria Kuchuk
1778  Maria Kuchuk
1783  Maria Kuchuk
1792  Maria Kuchuk
1794  Maria Kuchuk
1804  Maria Kuchuk
1853  Maria Kuchuk
1856  Maria Kuchuk
1915  Maria Kuchuk
1916  Maria Kuchuk
1921  Maria Kuchuk
1922  Maria Kuchuk
1939  Maria Kuchuk
1950  Maria Kuchuk
1955  Maria Kuchuk
1960  Maria Kuchuk
1970  Maria Kuchuk
1985  Maria Kuchuk
2020  Maria Kuchuk
2027  Maria Kuchuk
2067  Maria Kuchuk
2112  Maria Kuchuk
2125  Maria Kuchuk
2142  Maria Kuchuk
2144  Maria Kuchuk
2168  Maria Kuchuk
2182  Maria Kuchuk
2184  Maria Kuchuk
2195  Maria Kuchuk
2213  Maria Kuchuk
2257  Maria Kuchuk
2260  Maria Kuchuk
2275  Maria Kuchuk
2303  Maria Kuchuk
2320  Maria Kuchuk
2323  Maria Kuchuk
2334  Maria Kuchuk
2340  Maria Kuchuk
2399  Maria Kuchuk
2417  Maria Kuchuk
2454  Maria Kuchuk
2490  Maria Kuchuk
2557  Maria Kuchuk
2576  Maria Kuchuk
2619  Maria Kuchuk
2642  Maria Kuchuk
2671  Maria Kuchuk
2824  Maria Kuchuk
2994  Maria Kuchuk
3007  Maria Kuchuk
3044  Maria Kuchuk
3051  Maria Kuchuk
3061  Maria Kuchuk
3115  Maria Kuchuk
3146  Maria Kuchuk
3199  Maria Kuchuk
3214  Maria Kuchuk
3226  Maria Kuchuk
3377  Maria Kuchuk
#  HRMS11   #
        Unnamed: 7
5     Maria Kuchuk
9     Maria Kuchuk
25    Maria Kuchuk
52    Maria Kuchuk
58    Maria Kuchuk
79    Maria Kuchuk
121   Maria Kuchuk
189   Maria Kuchuk
198   Maria Kuchuk
202   Maria Kuchuk
211   Maria Kuchuk
219   Maria Kuchuk
226   Maria Kuchuk
299   Maria Kuchuk
306   Maria Kuchuk
314   Maria Kuchuk
390   Maria Kuchuk
406   Maria Kuchuk
412   Maria Kuchuk
434   Maria Kuchuk
437   Maria Kuchuk
454   Maria Kuchuk
466   Maria Kuchuk
475   Maria Kuchuk
538   Maria Kuchuk
576   Maria Kuchuk
790   Maria Kuchuk
811   Maria Kuchuk
852   Maria Kuchuk
857   Maria Kuchuk
864   Maria Kuchuk
865   Maria Kuchuk
936   Maria Kuchuk
947   Maria Kuchuk
981   Maria Kuchuk
1013  Maria Kuchuk
1080  Maria Kuchuk
1085  Maria Kuchuk
1099  Maria Kuchuk
1102  Maria Kuchuk
1170  Maria Kuchuk
1200  Maria Kuchuk
1215  Maria Kuchuk
1267  Maria Kuchuk
1415  Maria Kuchuk
1421  Maria Kuchuk
1447  Maria Kuchuk
1455  Maria Kuchuk
1456  Maria Kuchuk
1463  Maria Kuchuk
1465  Maria Kuchuk
1474  Maria Kuchuk
1479  Maria Kuchuk
1488  Maria Kuchuk
1525  Maria Kuchuk
1540  Maria Kuchuk
1577  Maria Kuchuk
1587  Maria Kuchuk
1590  Maria Kuchuk
1591  Maria Kuchuk
1616  Maria Kuchuk
1739  Maria Kuchuk
1867  Maria Kuchuk
1880  Maria Kuchuk
2072  Maria Kuchuk
2074  Maria Kuchuk
2158  Maria Kuchuk
2160  Maria Kuchuk
2167  Maria Kuchuk
2180  Maria Kuchuk
2200  Maria Kuchuk
2208  Maria Kuchuk
2239  Maria Kuchuk
2241  Maria Kuchuk
2248  Maria Kuchuk
2280  Maria Kuchuk
2282  Maria Kuchuk
2335  Maria Kuchuk
2398  Maria Kuchuk
2415  Maria Kuchuk
2442  Maria Kuchuk
2458  Maria Kuchuk
2526  Maria Kuchuk
2540  Maria Kuchuk
2661  Maria Kuchuk
2712  Maria Kuchuk
2788  Maria Kuchuk
2796  Maria Kuchuk
2813  Maria Kuchuk
2904  Maria Kuchuk
2915  Maria Kuchuk
2951  Maria Kuchuk
2962  Maria Kuchuk
3035  Maria Kuchuk
3073  Maria Kuchuk
3095  Maria Kuchuk
3101  Maria Kuchuk
3125  Maria Kuchuk
3231  Maria Kuchuk
3239  Maria Kuchuk
3327  Maria Kuchuk
#  HRMS 10   #
        Unnamed: 7
2     Maria Kuchuk
171   Maria Kuchuk
179   Maria Kuchuk
186   Maria Kuchuk
188   Maria Kuchuk
212   Maria Kuchuk
253   Maria Kuchuk
266   Maria Kuchuk
289   Maria Kuchuk
306   Maria Kuchuk
368   Maria Kuchuk
390   Maria Kuchuk
392   Maria Kuchuk
401   Maria Kuchuk
408   Maria Kuchuk
433   Maria Kuchuk
438   Maria Kuchuk
441   Maria Kuchuk
750   Maria Kuchuk
751   Maria Kuchuk
775   Maria Kuchuk
784   Maria Kuchuk
798   Maria Kuchuk
815   Maria Kuchuk
829   Maria Kuchuk
870   Maria Kuchuk
893   Maria Kuchuk
902   Maria Kuchuk
903   Maria Kuchuk
925   Maria Kuchuk
989   Maria Kuchuk
995   Maria Kuchuk
1004  Maria Kuchuk
1015  Maria Kuchuk
1018  Maria Kuchuk
1049  Maria Kuchuk
1086  Maria Kuchuk
1100  Maria Kuchuk
1123  Maria Kuchuk
1159  Maria Kuchuk
1163  Maria Kuchuk
1424  Maria Kuchuk
1457  Maria Kuchuk
1498  Maria Kuchuk
1502  Maria Kuchuk
1505  Maria Kuchuk
1509  Maria Kuchuk
1518  Maria Kuchuk
1523  Maria Kuchuk
1572  Maria Kuchuk
1596  Maria Kuchuk
1614  Maria Kuchuk
1624  Maria Kuchuk
1634  Maria Kuchuk
1639  Maria Kuchuk
1643  Maria Kuchuk
1661  Maria Kuchuk
1919  Maria Kuchuk
1926  Maria Kuchuk
1939  Maria Kuchuk
1959  Maria Kuchuk
2021  Maria Kuchuk
2024  Maria Kuchuk
2038  Maria Kuchuk
2069  Maria Kuchuk
2087  Maria Kuchuk
2169  Maria Kuchuk
2187  Maria Kuchuk
2212  Maria Kuchuk
2225  Maria Kuchuk
2227  Maria Kuchuk
2235  Maria Kuchuk
2236  Maria Kuchuk
2262  Maria Kuchuk
2272  Maria Kuchuk
2282  Maria Kuchuk
2330  Maria Kuchuk
2348  Maria Kuchuk
2350  Maria Kuchuk
2408  Maria Kuchuk
2451  Maria Kuchuk
2485  Maria Kuchuk
2539  Maria Kuchuk
2556  Maria Kuchuk
2606  Maria Kuchuk
2619  Maria Kuchuk
2667  Maria Kuchuk
2681  Maria Kuchuk
2855  Maria Kuchuk
2992  Maria Kuchuk
2999  Maria Kuchuk
3038  Maria Kuchuk
3045  Maria Kuchuk
3059  Maria Kuchuk
3085  Maria Kuchuk
3099  Maria Kuchuk
3130  Maria Kuchuk
3254  Maria Kuchuk
3297  Maria Kuchuk
3306  Maria Kuchuk
3316  Maria Kuchuk
#  HRMS 09   #
 no tab HRMS 10
#  HRMS 08   #
 no tab HRMS 10
#  HRMS 07   #
 no tab HRMS 10
#  HRMS 06   #
Empty DataFrame
Columns: [Unnamed: 7]
Index: []
#  HRMS 05   #
 no tab HRMS 10
#  HRMS 03-04   #
 no tab HRMS 10
#  Sheet1   #
 no tab HRMS 10
#  HRMS   #
Empty DataFrame
Columns: [Unnamed: 7]
Index: []